<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Starbuzz Bean Machine</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<h1 class="productName">超智能记事本</h1>
<div class="main">
    <form action="http://www.starbuzzcoffee.com/processorder.php" method="post">
        <div class="tableRow">
            <label for="loginName" class="label">邮箱:</label>
            <input type="text" id="loginName" name="loginName" value="" placeholder="邮箱">
        </div>
        <div class="tableRow">
            <label for="userName" class="label">用户名:</label>
            <input type="text" id="userName" name="userName" value="" placeholder="起个名字吧(不能有@)">
        </div>
        <div class="tableRow">
            <label for="onePassword">密码:</label>
            <input type="password" id="onePassword" name="onePassword" value="" placeholder="密码复杂度高一点哦">
        </div>
        <div class="tableRow">
            <label for="twoPassword">确认密码:</label>
            <input type="password" id="twoPassword" name="twoPassword" value="" placeholder="密码复杂度高一点哦">
        </div>
        <div class="formButton">
            <label></label>&ensp;
            <button type="button" value="确认注册">确认注册</button>&ensp;&emsp;
            <button type="button" value="确认注册" onclick="window.location.href='../templates/login.html'">返回主页</button>
        </div>
    </form>
    <br>
</div>
<br>
<br>
<br>
<div>
    <p align="center"><span style="color: #ef1d2b;font-size: 30px">及时进邮箱点击激活链接进行激活操作</span></p>
    <p align="center"><span style="color: #ef1d2b;font-size: 30px">当天不激活次日删除账户,到时还需需重新走注册流程</span></p>
</div>
</body>
</html>

